* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #fff; 
    text-align: center;
    margin-top: 40px; 
    margin-left: 107px;

    /* height: 15px;
    width: 620px;
    left: 330px;
    top: 31.5px;
    border-radius: 0px;
    background-color: #fff;
    position: absolute;
    text-align: center; */

}

.link {
    text-decoration: none;
    color: #ff4500;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 1px;
    margin-right: 30px;

    /* position: absolute;
    width: 68px;
    height: 27px;
    left: 0px;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #ff0000;
    text-align: center; */
}

.nav-item {
    margin: 20px;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
} 

.nav {
    padding: 20px; 
    display: inline;
} 

.nav-list {
    display: inline;
}

.main-title {
    font-size: 25px;
    font-weight: 700;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 20px;
    text-align: center;
}

.main-description {
    padding-top: 35px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.2px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 5px;
}

.description {
    padding-top: 35px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.2px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 30px;
}

.main {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.image {
    width: 100%;
    padding-top: 20px;
}

.button {
    width: 185px;
    height: 52px;
    background: #ff4000;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    padding-top: 25px;
    margin-top: 65px;
    margin-bottom: 70px;
    margin-left: 30px;
}

.get-started {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #fff;
    margin-top: -3px;
    margin-left: 31px;
    margin-bottom: 25px;
    text-decoration: none;
    padding-left: 2px;
}

.footer {
    right: 85px;
    bottom: 29px;
    margin-bottom: 60px;
    margin-top: 60px;
    padding-bottom: 5px;
    padding-left: 400px;
    padding-right: 0px;
    text-align: justify;
}

.div-footer {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    font-family: 'Montserrat';
    padding-left: 700px;
    text-align: justify;
    padding-bottom: 5px;
}

